{% extends "basic/page.html" %}

{%- macro customrelbar(showrel=True) %}
    <div class="related">
	<div id="translations">
		<a href="../../en/index.html">English</a> |
		<a href="../../el/index.html">Ελληνικά</a> |
		<a href="../../de/index.html">Deutsch</a> |
		<a href="../../es/index.html">Español</a> |
		<a href="../../ja/index.html">日本語</a> |
		<a href="../../pl/index.html">Polski</a>
	</div>
    </div>
{%- endmacro %}

{% block header %}
    <div class="header">
	<div class="banner"><a href="http://live.osgeo.org/"><img src="../../_images/banner.png"></a></div>
        <div class="nowrap">
            <ul id="top-nav">
              <li><a href="../index.html">Home</a></li>
              <li><a href="../overview/overview.html">Contents</a></li>
              <li><a href="../standards/standards.html">Standards</a></li>
              <li><a href="../download.html">Download</a></li>
              <li><a href="../contact.html">Contact Us</a></li>
              <li><a href="../sponsors.html">Sponsors</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block relbar1 %}
    {%- if pagename != 'index' %}{{ customrelbar(True) }}{% endif %}
{% endblock %}
{%- block relbar2 %}
    {%- if pagename != 'index' %}{{ customrelbar(True) }}{% endif %}
{% endblock %}

{% block sidebarsearch %}{% endblock %}

{%- block sidebar2 %}{% endblock %}

{% block footer %}
{% endblock %}

