Source: osgeolive-docs
Section: doc
Priority: optional
Maintainer: Johan Van de Wauw <johan.vandewauw@gmail.com>
Build-Depends: debhelper (>= 8.0.0), 
               python-sphinx,
               python-pil,
               pngquant,
               cmake,
               libtext-simpletable-autowidth-perl,
               python-sphinxjp.themes.revealjs,
Standards-Version: 3.9.6
Homepage: http://live.osgeo.org

Package: osgeolive-docs
Architecture: all
Depends: ${misc:Depends},
         ${sphinxdoc:Depends},
Description: Documentation for OSGeo Live
 OSGeoLive is a self-contained bootable DVD, USB thumb drive or Virtual Machine
 based on Lubuntu, that allows you to try a wide variety of open source
 geospatial software without installing anything. It is composed entirely of
 free software, allowing it to be freely distributed, duplicated and passed
 around.
 .
 This package contains the documentation of OSGeo live.
