#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --builddirectory=build
	
override_dh_auto_configure:
	dh_auto_configure -- -DHTML=on -DES=ON -DFR=ON -DDE=ON
