/*@import url("http://extjs.cachefly.net/ext-2.2.1/resources/css/ext-all.css");*/
@import url("osgeolive.css");
@import url("sphinxdoc.css");

/* override some of ext-all.css  */
ul, ol {
    margin: 14px 0;
    padding-left: 20px;
}
ul {
    list-style: disc;
}
ol {
    list-style-type:decimal;
}
strong {
    font-weight: bolder;
}

/* override some of sphinxdoc.css */
html {
    margin: 0;
    padding: 0;
}

body {
    border: none;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    min-width: 760px;
    padding: 0;
    line-height: 110%;
    font-family: "Miriam Libre","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   color: #003A40;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
   color: #003A40!important;
   text-decoration: none;
}

table td, table th {
    padding: 0;
}

a.reference em {
    font-style: normal;
}

div.sphinxsidebar {
    margin: 0;
    padding: 0.0em 15px 15px 0.5em;
    width: 200px;
    float: right;
    font-size: 1em;
    text-align: left;
    background-color: #FFFFFF; 
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    background: inherit;
    border: none;
    color: #385F95;
    padding: 0;
}
div.sphinxsidebar h3 a {
    color: inherit;
}
div.document {
    margin: 0 10px;
}
div.documentwrapper {
    margin-left: 10px;
    padding: 0;
}


div.footer {
    background: #fff url(img/footer-bg.png) repeat-x;
    color: #000000;
    padding: 60px 0 35px;
    text-align: center;
}

/* custom header */
div.header {
    position: relative;
    padding-bottom: 30px;
}
/*    height: 30px;
    background: #fff url(header-bg2.png) repeat-x;
div.header div.wrap {
    margin: 0 80px;
}*/

#logo {
    padding: 0;
    padding-top: 0.5em;
}
#logo a {
    float: left;
    width: 476px;
    height: 125px;
    overflow: hidden;
    text-indent: -9999em;
}
#logo_osgeo {
	padding: 0;
	position: absolute;
	right: 10px;
}
#logo_osgeo a {
	float: right;
    width: 200px;
    height: 85px;
    overflow: hidden;
    text-indent: -9999em;
    background: url(img/osgeo-logo.png) no-repeat;
}

/* index page links */
#quicklinks {
  margin: 0 auto;
  padding-top: 2em;
}

/*#getting-started ul {*/
#quicklinks ul {
	float: left; 
	padding: 0;
}
/*#getting-started li {*/
#quicklinks li {
	float: left; 
	display: inline;
	margin: 1.1em;
}

/*#getting-started a {*/
#quicklinks a {
  float: left;
  text-align: center;
  padding-top: 5em;
  min-width: 85px;
  background-position: center top;
  background-repeat: no-repeat;
}

/* about page */
#about-geotools p {
  text-align: justify;
  font-size: 0.9em;
}

#open-source {
  float: left;
  width: 350px;
  padding-right: 2em;
}

#open-development {
  float: left;
  width: 350px;
}

/* search box style */
#searchbox {
    position: absolute;
    bottom: 70px;
    right: 95px;
    background: transparent url(img/search-box.png) top left no-repeat;
    height: 28px;
    width: 190px;
}
#searchbox-query {
    color: #72a629;
    font-size: 0.92em;
    border: 0;
    background: transparent;
    width: 175px;
    margin: 5px 0 0 8px;
}
#searchbox-submit {
    position: absolute;
    top: 6px;
    right: 5px;
}
a.headerlink {
    display: none;
}

/* meta-info about a class/module get pulled out */
.meta {
    float: right;
    padding: 0 2em;
    background-color: white;
}
.meta ul {
    list-style-type: none;
    padding: 0;
}

/* overriding clear: both on dl */
dl.class {
    clear: left;
}

/* don't display class names for attributes or methods*/
.attribute .descclassname {
    display: none;
}
.method .descclassname {
    display: none;
}
.classmethod .descclassname, .classmethod .property {
    display: none;
}

/* headers with bottom border get some padding */
h2, h3, h4 {
    padding-bottom: 0.42cm;
    padding-top: 0.42cm;
}

/** outdenting literal code examples */
div.highlight {
    margin-right: -175px;    
}

li div.highlight {
    position: relative;
    left: 190px;
    margin-right: -15px;    
}

/* making code samples less gigantic */
pre {
    font-size: 0.8em;
    border: 1px solid #333333;
    background-color: #E6E6E6;
}

/* blog entry style */
ul.rss_items li.rss_item {
    padding-bottom: 0.5em;
}

/* execute button style */
.x-btn.execute {
    margin: 1em;
}

/*
.wrap {
width: 990px;
margin: 0 auto; 
padding: 0;
}
*/

.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.selfclear {
display: inline-block; /* IE 7 */
}

.selfclear {
display: block;
}

#content {
	width: 740px; /*790px total*/
	overflow: hidden;
	float: left;
	margin: -3px 0 0 0;
	padding: 1216px 28px 0 22px;
	background: #fff;
	color: #262523;
	font-size: 1.2em;
}

#breadcrumbs {
font-size: 0.85em;
color: #4DB05B;
border-bottom: 1px solid #a0ce67;
margin: 0.2em 0 1em;
padding: 0 0 0.5em;
}

#breadcrumbs li {
list-style-type: none;
display: inline;
}

#breadcrumbs a {
color: #49a942;
text-decoration: none;
}

#breadcrumbs a:hover {
color: #1166ad;
}

div #body {
  margin: 0px;
  padding: 0 1em 1em;
}

div.sidebar {
  float: right;
  width: 200px;
  margin-left: 0px;
  font-style: italic;
  color: #808080;
  line-height: 150%;
  border: 0px;
  background-color: #FFF;
}

/* space out the intros */
div.section > p {
  margin: 0.5em 0 0.5em 0;
  line-height: 140%;
}
li {
   margin: 0.5em 0 0.5em 0;
}
li p {
   margin: 2 0 2 0;
}

div.body a {
   color: #4DB05B;
}

div.body a:hover {
   color: #003A40;
}

img.align-left, .figure.align-left, object.align-left {
  clear: left;
  float: left;
  margin-right: 1em;
}

img.align-right, .figure.align-right, object.align-right {
  clear: right;
  float: right;
  margin-left: 1em;
}

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left;
}

.align-center {
  clear: both;
  text-align: center;
}

.align-right {
  text-align: right;
}

div.document {
    background-color: white;
    text-align: left;
    //background-image: none;
   // background-repeat: repeat-x;
}
