# ------------------------------------------------------------------------------
# GitHub Actions scripts
# Copyright(c) pgRouting Contributors
#
# Main configuration
# ------------------------------------------------------------------------------
name: Deploy GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-22.04
    if: ${{ github.repository_owner == 'OSGeo' }}

    steps:
      - uses: actions/checkout@v5

      - name: Install apt packages
        run: |
          sudo apt-get install cmake cpanminus
          sudo cpanm Text::SimpleTable::AutoWidth

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r ./requirements.txt

      - name: Initialize mandatory git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Build pages
        run: |
          mkdir -p build
          bash ci/build-pages.sh

      - name: Deploy pages
        if: github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/_build/html
