# ------------------------------------------------------------------------------
# GitHub Actions scripts 
# Copyright(c) pgRouting Contributors
#
# Main configuration
# ------------------------------------------------------------------------------
name: Deploy GitHub Pages

on:
  push:
    branches:
      - master
      - testtransifex

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Install apt packages
        run: |
          sudo apt-get install cmake cpanminus
          sudo cpanm Text::SimpleTable::AutoWidth

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
          architecture: 'x64'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r ./requirements.txt

      # This section updates the gh-pages
      - name: Build pages
        run: |
          mkdir build
          bash ci/build-pages.sh

      # This section updates the locale
      - name: Extract commit hash
        if: github.ref == 'refs/heads/testtransifex'
        run: |
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          echo "GIT_HASH=$git_hash" >> $GITHUB_ENV

      - name: Initialize mandatory git config
        if: github.ref == 'refs/heads/testtransifex'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Update locale                                                                                             
        if: github.ref == 'refs/heads/testtransifex'
        run: |                                                                                                          
          bash ci/update_locale.sh
          # commit the changes
          git diff --staged --quiet || git commit -m "Automatic update of locale files from commit ${{ env.GIT_HASH }}"
          git fetch origin testtransifex
          git rebase origin/testtransifex
          git push origin testtransifex


      - name: Deploy pages
        if: github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/doc/_build/html/
